.modal_popup {
  position:fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;

  .modal_position {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
  }

  .modal_content {
    background-color: #fff;
    height: 100px;
    width: 71%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
  }

  // fade in animation
  @keyframes fadeIn {
    0% {opacity:0;}
    15% {opacity:1;}
    85% {opacity:1;}
    100% {opacity:0;}
  }

  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    15% {opacity:1;}
    85% {opacity:1;}
    100% {opacity:0;}
  }

  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    15% {opacity:1;}
    85% {opacity:1;}
    100% {opacity:0;}
  }

  @-o-keyframes fadeIn {
    0% {opacity:0;}
    15% {opacity:1;}
    85% {opacity:1;}
    100% {opacity:0;}
  }

  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    15% {opacity:1;}
    85% {opacity:1;}
    100% {opacity:0;}
  }

}
