.nomination_list {
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0 1rem 1rem 1rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
