.movie_info {
  background-color: #D9BDC5;
  flex: 0 48%;
  height: 5em;
  margin-bottom: 1rem;
  border-radius: 0 5px 0 0;
  display: flex;

  .poster {
    height: 5em;
    width: 3.75em;
  }

  .fa-plus-square {
    line-height: 29px;
    color: green;
  }

  .fa-check-square {
    line-height: 29px;
    color: grey;
  }

  .results_title_year {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 2;
    padding: 0 1em;

    p {
      margin-block-start: 0;
      margin-block-end: 0;
      padding-top: 0.5em;
    }

  

  }
}